.App {
}

.Navbar {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 1vmin);
    background-color: black;
    height: 100px;
    position: sticky;
    top: 0;
}

.Navbar-logo {
    margin-right: 50px !important;
}

.App-header {
  background-color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Whom-Title {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About-Card {
    text-align: center; 
    font-size: calc(10px + 1vmin);
    z-index: -1 !important;
    position: relative;
}

.About-Icon {
    margin-top: 30px;
    width: 10%;
    height: 10%;
}

.Tenant-Numbers{
    margin-top: -400px;
}
